@{
    ViewData["Title"] = "Home Page";

}

@* Would like to use a loop to generate repeated HTML elements 
   and populate them with data from the Form database.
   This would serve to fill out the forms and also provide the specific data 
   within the dialog box.

   For now, filler data is used and rendered.*@

<div>
    <ul class="labels">
        <li>
            <h5>FormID</h5>
        </li>
        <li>
            <h5>Name</h5>
        </li>
        <li>
            <h5>Description</h5>
        </li>
        <li>
            <h5>Date</h5>
        </li>
    </ul>

    <ul class="grid-row">
        <li>1</li>
        <li>First Entry</li>
        <li>Describe First Entry</li>
        <li>Current Date</li>
    </ul>
    <ul class="grid-row">
        <li>2</li>
        <li>Second Entry</li>
        <li>Describe Second Entry</li>
        <li>Current Date</li>
    </ul>
    <ul class="grid-row">
        <li>3</li>
        <li>Third Entry</li>
        <li>Describe Third Entry</li>
        <li>Current Date</li>
    </ul>

</div>
<div id="dialog-message" title="Form Name">
    <p>

        Form description goes here..
    </p>
</div>
