@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="grid-container" >

        <form>
            <input id="id" placeholder="id" />
            <div id="grid">
                <div class="row">
                    <label for="">Name&colon;</label>
                    <input id="name">
                </div>

                <div class="row">
                    <label for="">Description&colon;</label>
                    <textarea id="description"></textarea>
                </div>
            </div>
            <input id="date" placeholder="date" />
        </form>

    </div>
</div>