/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}



.navbar-brand{
    margin:auto;
    font-size: 3em;
}



#dialog-message{
    display: none;
}

/* Dialog Styling*/

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content {
    background: white;
    /*Change the dialog border color here*/
    border: 1px solid blue;
    color: black;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-button {
    outline: none;
    border: 2px solid red !important;
    border-radius: 0px !important;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #fff;
    color: #444;
    max-width: 800px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}



ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin: 0 auto;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;

}

ul.labels {
    margin-bottom: 1em;
}


ul.grid-row li {
    height: 12vw;
    max-height: 125px;
}
ul.grid-row {
    border: 1px solid;
}

.grid-row:hover{
    border: 2px solid red;
}

